/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$primary:  #06436e !default;
// $font-family-base:  'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
// $body-color: $gray-700 !default;
$link-color: #1a5276; // ca225e
$code-color: #1a5276; // ca225e
$headings-font-family: 'Montserrat', sans-serif;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6, .navbar {
  font-family: 'Helvetica', sans-serif;
}
