/*-- scss:defaults --*/
$primary:  #06436e !default;
// $font-family-base:  'Source Sans Pro',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
// $body-color: $gray-700 !default;
$link-color: #ca225e;
$code-color: #ca225e;
$headings-font-family:  'Prata', 'Roboto', 'Playfair Display', 'Montserrat'    !default;
